.windowResto {
    z-index: 2;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 15%;
    height: 35%;
    border: 1px solid black;
    left: 39%;
    top: 25%;
    right: 30%;
    padding:50px 50px;
    border-radius: 2%;
    box-shadow: -5px -9px 0.5em rgba(131, 131, 131, 0.856);
  }
  .forInput{
      position:relative;
      margin-bottom:25px;
    top:5%;
  }
  .forInput label{
      position:absolute;
      top:-12px;
      left:0px;
      font-size:16px;
      color:rgb(0, 0, 0);	
    pointer-events: none;
  }
  .forInput input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(0, 0, 0);
  }
  .forInput input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #79b4b7;	
  }
  h2 {
    text-align: center;
  }
  .btnMarker {
    position: absolute;
    bottom: 20%;
    left:20%;
  }
  .btnClose {
    position: absolute;
    bottom: 20%;
    right:20%;
  }
  /* bouton restaurant */
  .btnResto {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  .btnRestoRelative {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    bottom: 80px;
    left: 55%;
  }
  .btnRestoRelative a {
    font-size: 12px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s;
    font-family: "Montserrat", sans-serif;
  }
  .btnRestoRelative a:before,
  .btnRestoRelative a:after {
    position: absolute;
    content: "AJOUTER UN RESTAURANT";
    height: 45px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
  }
  .btnRestoRelative a:before {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    transform: rotateY(0deg) translateZ(25px);
  }
  .btnRestoRelative a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .btnRestoRelative a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
  }